name: Trigger Test

on:
  schedule:
    - cron: '*/15 * * * *'

jobs:
  build:
    name: Commit temp checkin
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1.1.0
      with:
        token: ${{ secrets.PAT }}

    - name: "Configure git"
      run: |
        git config --global user.name "dhadka"
        git config --global user.email "dhadka@users.noreply.github.com"
        
    - name: "Trigger push"
      run: |
        git checkout master
        echo "$(date +%s)" > trigger.txt
        git add .
        git commit -m "Scheduled trigger"
        git push origin master
